.cardListItem {
    list-style-type: none; /* 리스트 항목 앞에 점을 없앰 */
  }

.cardContainer {
    display: flex;
    flex-direction: column;
    width: 240px; /* 카드의 너비 */
    margin: 0 10px 20px 10px; /* 카드 간격 조절 */
    border: 1px solid #ccc; /* 경계선 스타일링 */
    border-radius: 4px; /* 경계선 둥글게 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  }
  
  .cardContent {
    padding: 10px;
  }
  
  .cardImage img {
    width: 100%; /* 이미지를 카드 너비에 맞게 조정 */
    height: auto; /* 이미지 높이 자동 조정 */
  }
  
  .cardTitle,
  .cardChannel,
  .cardPublished {
    padding: 2px 0; /* 상하 여백 */
    overflow: hidden; /* 넘치는 내용 숨김 */
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    text-overflow: ellipsis; /* 넘치는 텍스트 생략 */
  }
  
  .cardTitle {
    font-weight: bold; /* 제목 강조 */
  }
  
  .cardChannel {
    color: #606060; /* 채널 이름 색상 */
  }
  
  .cardPublished {
    color: #909090; /* 업로드 시간 색상 */
  }